.sidenav {
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222;
    width: 3%;
}

.btn-icon{
	border-radius: 0px;
	background-color: transparent;
	border-color: #404040;
	color: #525252;
	border-left: none;
	border-right: none;
	border-top: none;
	width: 100%;
	padding: 10px 2px;
}

.btn-icon:hover{
	background-color: transparent;
}

.profile-pic{
	 border-radius: 50%;
	 width: 150px;

}

.main-container{
	margin-left: 75px;
	margin-top: 50px;
}

.margin-10{
	margin-top: 10px;
}

.margin-5{
	margin-top: 5px;
}

a{
	color: initial;
	font-weight: bold;
}

.text-header{
	color: #81c579;
}

.btn-black{
	padding: 2% 3%;
	border-radius: 2px;
	background-color: #323333;
	color: white;
}

.circle-left{
	width: 60px;
	float: right;
	margin-top: 10px;
}

.padding-0{
	padding: 0px;
}

.btn-gray{
	color: gray;
	background-color: lightgray;
	padding: 15% 10%;
	margin: 2px;
	border-radius: 3px;
	margin-right: 5px;
	color: black;
}

.btn-green{
	height: 50px;
    margin-top: 4px;
}

.img-icon{
}

.text-lightgray{
	 color: lightgray;
	 margin-top: 0px;
	 margin-bottom: 20px;
}